@{
    ViewBag.Title = "О проекте";
}

<style>
    ul {
        font-family: Verdana;
        font-weight: 100;
        font-size: 18px;
    }
</style>

<section>
    <h2 style="margin-left:15px">О проекте</h2>
    <hr />
    <div style="margin-left:15px">
        <article style="margin-top:15px">
            <div style="float:left; padding-right:20px">
                <img class="user-recipe-img" src="~/Content/Images/recipe.png" />
            </div>
            <div>
                <p class="main-font">
                    <span class="text-uppercase">Добро пожаловать на сайт! </span>Данный сервис представляет собой блог кулинарных рецептов.
                    Кулинарный рецепт — это руководство по приготовлению кулинарного изделия.
                    Он содержит информацию о необходимых пищевых продуктах, их пропорциях и инструкциях по смешиванию и обработке, а также время приготоволения изделий.
                    Кулинарные рецепты описывают механическую и тепловую обработку ингредиентов, способы сервировки готовых изделий.
                    Рецепты передаются из уст в уста, публикуются в кулинарных книгах, но лучше делиться рецептами на данном сайте.
                    Существуют секретные рецепты, передающиеся кулинарами своим наследникам.<br /><br />
                    Делитесь рецептами, пишите комментарии!
                </p>
            </div>
        </article>
        <article style="margin-top:55px">
            <h2>Руководство пользователя</h2>
            <h3>Без регистрации пользователь может</h3>
            <ul>
                <li>Просматривать рецепты</li>
                <li>Осуществлять фильрацию и поиск рецептов по критериям</li>
                <li>Проссматривать комментарии к рецептам</li>
            </ul>
            <h3>Зарегестрированный пользователь дополнительные возможности</h3>
            <ul>
                <li>Создавать, опубликовывать рецепты</li>
                <li>Комментировать другие рецепты, отвечать на комментарии других пользователей</li>
                <li>В любом случае, пользователь может удалять созданные им рецепты</li>
            </ul>
        </article>
    </div>
</section>
