@{
    ViewBag.Title = "Контакты";
}

<style>
    ul {
        font-family: Verdana;
        font-weight: 100;
        font-size: 18px;
    }
</style>

<section>
    <h2 style="margin-left:15px">Контакты</h2>
    <hr />
    <div style="margin-left:15px">
        <article style="margin-top:15px">
            <div style="float:left; padding-right:20px">
                <img class="user-recipe-img" src="~/Content/Images/user.png" />
            </div>
            <div>
                <p class="main-font">
                    <span class="text-uppercase">Добро пожаловать на сайт! </span><br />
                    Для контакта используйте почту: V1p1@yandex.ru, Стеклов Владислав.<br />
                    Ниже представлены используемые технологии, на которых написан блог.
                </p>
            </div>
        </article>
        <article style="margin-top:100px">
            <h2>Используемый стек</h2>
            <ul>
                <li>ASP. NET 5 + Entrity Framework</li>
                <li>ASP.NET Identity, AutoMapper</li>
                <li>HTML, CSS, Boostrap - адаптивный дизайн</li>
                <li>Частичные представления, строго типизированные представления</li>
                <li>AJAX - вывод частичных представлений</li>
            </ul>
        </article>
    </div>
</section>
